<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/product/index.css">
<!--<link href="StyleSheet.css" rel="stylesheet" type="text/css" media="only screen" />
<link href="MobileStyleSheet.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px) , only screen and (-webkit-min-device-pixel-ratio: 2) , screen and (-webkit-device-pixel-ratio:1.5)" />
-->
<!-- script -->
<script>
    function view(id) {
        window.location.href = `/product/id/${id}`;
    }
</script>

<article>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <h1>Welcome to Kushwah Mart</h1>

    <div class="col-md-12">
        <img src="/public/images/cover.jpg" alt="Online-grocery-store" height="200" />
    </div>

    {{#each products}}
    <div class="panel panel-default item">
        <div class="panel-heading">
            <a role="button" href="/product/id/{{_id}}" data-parent="#accordion" aria-expanded="true">
                <h2 class="panel-title head">
                    {{title}}
                </h2>
            </a>
        </div>

        <div class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <img src="{{images.[0]}}" alt="{{title}}" />
                    </div>

                    <div class="row detail">
                        <div class="col-md-4 price">
                            <i class="fa fa-rupee"></i>{{price}}
                        </div>
                        <div class="col-md-8">
                            <input type="submit" class="btn btn-default" onclick="window.location.href = '/product/id/{{_id}}'" value="View Product Details" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</article>